/* bootswatch further customization */
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  outline: none;
}

/* styles */
body {
  margin: 0;
  min-height: 100vh;
}
.hero {
  z-index: -1;
  min-height: 500px;
  background: url("./dark.jpg");
  background-size: cover;
}

.contentCard {
  margin-top: -100px;
}

p {
  font-size: 1.3em;
}

a,
a:hover {
  color: var(--dark);
}
